/tmp-data
/log-data

# DataBase
/containers/db/data/*
/containers/db/db.env

# Rails Application
/containers/rails/tmp
/containers/rails/log/*.log
/containers/rails/.env
/containers/rails/config/initializers/secret_token.rb
/containers/rails/config/master.key
/containers/rails/storage/*
# Ignore bundler config.
/containers/rails/.bundle
!/containers/rails/log/.keep
!/containers/tmp/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
# Vue Application
.DS_Store
/public-data/node_modules
/public-data/dist

/public-data/tests/e2e/videos/
/public-data/tests/e2e/screenshots/

# local env files
/public-data/.env.local
/public-data/.env.*.local

# Log files
/public-data/npm-debug.log*
/public-data/yarn-debug.log*
/public-data/yarn-error.log*

# image file
/public-data/src/assets/*.svg
/public-data/src/assets/*.jpg
/public-data/src/assets/*.png

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

